---
layout: default
---
<header class="post-header">
	<div class="post-header-content">
		<h1 class="post-title">{{ page.title }}</h1>
		<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	</div>
</header>
<div class="wrapper">

  <div class="post">

    <article class="post-content">
      {{ content }}
      {% if page.disableComments != true %}
        <br />
        <hr />
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
                this.page.url = page.url;
                this.page.identifier = page.id;
            };
            (function() {
                var d = document, s = d.createElement('script');
                
                s.src = '//hendrikelsner-github-io.disqus.com/embed.js';
                
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {% endif %}
    </article>

  </div>
</div>
<script>
	var pattern = Trianglify({
		height: 200,
		width: window.screen.width,
		palette: Trianglify.colorbrewer,
		x_colors: 'YlOrBr',
		seed: '{{ page.title }}',
		cell_size: 110
	});

	$('.post-header')
		.css({
			backgroundImage: 'url(' + pattern.png() + ')',
			backgroundSize: 'cover'
		});
</script>
